:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
  font-size: 16px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer"
  ;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
}

#container {
  border: 4px solid rgb(72, 71, 71);
  margin: 0 auto;
  max-width: 960px;
  margin-top: 5vmin;

  display: flex;
  flex-wrap: wrap;
}

.grid {
  border: .05px solid hsl(60, 1%, 39%);
}

footer {
  text-align: center;
}